<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.interview.mapper.InterviewQuestionMapper">

    <insert id="batchInsert">
        INSERT INTO interview_questions (session_id, parent_question_id, question_type, sequence_no, question_text, ai_reason, question_audio_url)
        VALUES
        <foreach collection="list" item="q" separator=",">
            (#{q.sessionId}, #{q.parentQuestionId}, #{q.questionType}, #{q.sequenceNo}, #{q.questionText}, #{q.aiReason}, #{q.questionAudioUrl})
        </foreach>
    </insert>

</mapper>
